.advantages {
  display: $dispf;
  list-style: none;
  justify-content: $jc-sb;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  padding-top: 60px;
  gap: 30px;

  &__text-block {
    display: $dispf;
    flex-direction: column;
    justify-content: $jc-c;
    align-items: $ai-c;
    margin-top: 30px;
  }

  &__text-title {
    @include ff-fw-fz-lh-ls-col($ff-roboto, 700, 14px, 1.14, 0.03em, $color-black);
  }

  &__text-discription {
    max-width: 28.12rem;
    @include ff-fw-fz-lh-ls-col($ff-roboto, 400, 14px, 1.71, 0.03em, $color-black);
    margin-top: 10px;
  }

  &__advantages-icon {
    border-radius: 4px;
    background-color: $bg-light-grey;
    cursor: pointer;

    svg {
      display: $dispb;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    max-width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    &__advantages-icon {
      max-width: 354px;
      height: 120px;
      border-radius: 4px;
      background-color: $bg-light-grey;
      cursor: pointer;
    }

    &__text-block {
      width: 354px;
      height: 120px;
      display: $dispf;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      margin-top: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    max-width: 1200px;
    display: flex;
    margin: 0;

    &__advantages-icon {
      max-width: 270px;
      height: 120px;
      border-radius: 4px;
      background-color: $bg-light-grey;
      cursor: pointer;
    }

    &__text-block {
      width: 270px;
      height: 120px;
      display: $dispf;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      margin-top: 30px;
    }
  }
}
