body {
  background: $color-white;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  min-width: 20rem;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container-header {
  min-width: 320px;
  display: $dispf;
  margin: 0 auto;
  margin-top: 16px;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container-header {
    max-width: 768px;
    display: $dispf;
    margin: 0 auto;
    padding: 26px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container-header {
    max-width: 1600px;
    margin: 0;
    padding: 32px 15px 0 15px;
  }
}

.container-main {
  max-width: 768px;
  display: $dispf;
  flex-direction: column;
  align-items: $ai-c;
  justify-content: center;
  margin-top: 1rem;
  min-width: 20rem;
  height: auto;
}

@media screen and (min-width: 768px) {
  .container-main {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container-main {
    max-width: 1600px;
    margin: 0 auto;
    height: auto;
  }
}

.container-advantages {
  min-width: 20rem;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container-advantages {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1200px) {
  .container-advantages {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
  }
}

@media screen and (min-width: 320px) {
  .container-our-activities {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container-our-activities {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container-our-activities {
    max-width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container-team {
  min-width: 20rem;
  display: $dispb;
  margin: 0 auto;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .container-team {
    min-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container-team {
    max-width: 1200px;
  }
}

.container-clients {
  min-width: 20rem;
  margin: 0 auto;
  margin-top: 60px;
  padding: 0 16px;
}

@media screen and (min-width: 1200px) {
  .container-clients {
    max-width: 1200px;
  }
}
.container-footer {
  min-width: 20rem;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
  background-color: $bg-color;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container-footer {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

// .portfolio-border {
//   border-bottom: 1px solid $border-button;
// }

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: $dispf;
  justify-content: $jc-c;
  align-items: $ai-c;
  background-color: $our-team-box-shad;
  transition: transform $trans, opacity $trans;
}

@media screen and (min-width: 480px) {
  .backdrop {
    max-width: 450px;
    height: 609px;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .backdrop {
    max-width: 465px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    max-width: 528px;
    height: 609px;
  }
}

.mobile-muenu.is-open {
  transform: translate(0);
  transition: $trans;
}
