.modal {
  position: absolute;
  min-width: 320px;
  height: 639px;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: $color-white;
  padding: 0 16px;

  &__header {
    text-align: $ta-c;
    @include ff-fw-fz-lh-ls-col($ff-roboto, 700, 20px, 1.15, 0.03em, $color-black);
    padding: 40px 40px 0 40px;
    margin: 0;
    margin-bottom: 30px;
  }

  &__form-wrapper {
    display: block;
  }

  &__form-items {
    position: relative;
    display: $dispf;
    flex-direction: column;
    margin-top: 10px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 15px;
  }

  &__input:focus,
  &__textarea:focus {
    border: 1px solid $color-blue;
    border-radius: 4px;
    outline: 0;
    transition: $trans;
    fill: $color-blue;
  }

  &__input:focus + svg {
    fill: #2196f3;
    transition: $trans;
  }

  &__input,
  &__textarea {
    width: 288px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 35px;
  }

  &__label {
    @include ff-fw-fz-lh-ls-col($ff-roboto, 400, 12px, 1.16, 0.01em, $color-grey);
  }

  &__textarea {
    min-width: 288px;
    height: 120px;
    margin-bottom: 20px;
    padding: 12px 16px;
  }

  &__textarea::placeholder {
    @include ff-fw-fz-lh-ls-col($ff-roboto, 400, 12px, 1.16, 0.01em, $mod-pl-hol);
    position: absolute;
    top: 12;
    left: 16;
  }

  .modal__close-btn-discription {
    position: absolute;
    top: 6px;
    left: 5px;
  }

  .modal__close-btn {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: $color-white;
    border-radius: 50%;
    border: 1px solid $color-white;
    cursor: pointer;
  }

  .modal-agreements {
    &__input[type='checkbox'] {
      width: 18px;
      height: 14px;
      background-color: $color-white;
      appearance: none;
      border: 0.1px solid $color-black;
      border-radius: 4px;
      margin: 0;
      margin-right: 6px;
    }

    &__privacy {
      position: relative;
      display: $dispf;
      align-items: $ai-c;
      @include ff-fw-fz-lh-ls-col($ff-roboto, 400, 12px, 1.16, 0.03em, $color-grey);
      margin: 0 auto;
      margin-right: 14px;
      margin-left: 14px;
      margin-bottom: 40px;
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: -1px;
      transform: translateY(-50%);
      opacity: 0;
      border-radius: 4px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
    }

    &__input[type='checkbox']:checked + svg {
      opacity: 1;
    }

    &__link {
      color: $color-blue;
    }

    &__text {
      margin: 0;
      padding: 0;
    }

    &__button {
      display: $dispf;
      justify-content: $jc-c;
      align-items: $ai-c;
      width: 200px;
      height: 50px;
      @include ff-fw-fz-lh-ls-col($ff-roboto, 700, 16px, 1.87, 0.06em, $color-white);
      background-color: $color-blue;
      border: none;
      border-radius: 4px;
      box-shadow: $btn-shadow;
      margin: 0 auto;
      margin-top: 30px;
      cursor: pointer;
    }
  }
}
// min widht 480px
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    position: absolute;
    border-radius: 4px;
    background-color: $color-white;
    padding: 0 15px 0 20px;
    left: 10px;
    top: 30px;

    &__form-items {
      position: relative;
      display: $dispf;
      flex-direction: column;
      margin: 0 auto;
      margin-top: 10px;
    }

    &__input {
      width: 400px;
      height: 40px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      padding-left: 35px;
    }

    &__textarea {
      min-width: 400px;
      height: 120px;
      margin-bottom: 20px;
      padding: 12px 16px;
    }

    .modal-agreements {
      &__input[type='checkbox'] {
        width: 14px;
        height: 14px;
        background-color: $color-white;
        appearance: none;
        border: 0.1px solid $color-black;
        border-radius: 2px;
        margin: 0;
        margin-right: 5px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 465px;
    height: 609px;
    position: absolute;
    border-radius: 4px;
    background-color: $color-white;
    padding: 0 15px 0 20px;
    left: 180px;
    top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 609px;
    position: absolute;
    border-radius: 4px;
    background-color: $color-white;
    padding: 0 15px 0 20px;
    left: 400px;
    top: 50px;
  }
}

// .modal {
//   position: absolute;
//   width: 528px;
//   height: 581px;
//   top: 50%;
//   left: 50%;
//   border-radius: 4px;
//   transform: translate(-50%, -50%);
//   background-color: $color-white;

//   &__header {
//     text-align: $ta-c;
//     @include ff-fw-fz-lh-ls-col($ff-roboto, 700, 20px, 1.15, 0.03em, $color-black);
//     padding: 40px 40px 0 40px;
//     margin: 0;
//     margin-bottom: 30px;
//   }

//   &__form-wrapper {
//     padding: 0 42px 94px 40px;
//   }

//   &__form-items {
//     position: relative;
//     display: $dispf;
//     flex-direction: column;
//     margin-top: 10px;
//   }

//   &__icon {
//     position: absolute;
//     top: 50%;
//     left: 15px;
//   }

//   &__input:focus,
//   &__textarea:focus {
//     border: 1px solid $color-blue;
//     border-radius: 4px;
//     outline: 0;
//     transition: $trans;
//     fill: $color-blue;
//   }

//   &__input:focus + svg {
//     fill: #2196f3;
//     transition: $trans;
//   }

//   &__input,
//   &__textarea {
//     width: 448px;
//     height: 40px;
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     border-radius: 4px;
//     padding-left: 42px;
//   }

//   &__label {
//     @include ff-fw-fz-lh-ls-col($ff-roboto, 400, 12px, 1.16, 0.01em, $color-grey);
//   }

//   &__textarea {
//     width: 448px;
//     height: 120px;
//     margin-bottom: 20px;
//     padding: 12px 16px;
//   }

//   &__textarea::placeholder {
//     @include ff-fw-fz-lh-ls-col($ff-roboto, 400, 12px, 1.16, 0.01em, $mod-pl-hol);
//     position: absolute;
//     top: 12;
//     left: 16;
//   }

//   .modal__close-btn-discription {
//     position: absolute;
//     top: 6px;
//     left: 5px;
//   }

//   .modal__close-btn {
//     position: absolute;
//     top: 8px;
//     right: 10px;
//     width: 30px;
//     height: 30px;
//     background-color: $color-white;
//     border-radius: 50%;
//     border: 1px solid $color-white;
//     cursor: pointer;
//   }
// }

// .modal-agreements {
//   &__input[type='checkbox'] {
//     width: 15px;
//     height: 14px;
//     background-color: $color-white;
//     appearance: none;
//     border: 0.1px solid $color-black;
//     border-radius: 4px;
//     margin: 0;
//     margin-right: 7px;
//   }

//   &__privacy {
//     position: relative;
//     display: $dispf;
//     align-items: $ai-c;
//     @include ff-fw-fz-lh-ls-col($ff-roboto, 400, 14px, 1.71, 0.03em, $color-grey);
//     margin: 0 auto;
//     margin-right: 14px;
//     margin-left: 14px;
//     margin-bottom: 40px;
//   }

//   &__icon {
//     position: absolute;
//     top: 50%;
//     left: 0;
//     transform: translateY(-50%);
//     opacity: 0;
//     border-radius: 4px;
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     cursor: pointer;
//   }

//   &__input[type='checkbox']:checked + svg {
//     opacity: 1;
//   }

//   &__link {
//     color: $color-blue;
//   }

//   &__text {
//     margin: 0;
//     padding: 0;
//   }

//   &__button {
//     display: $dispf;
//     justify-content: $jc-c;
//     align-items: $ai-c;
//     width: 200px;
//     height: 50px;
//     @include ff-fw-fz-lh-ls-col($ff-roboto, 700, 16px, 1.87, 0.06em, $color-white);
//     background-color: $color-blue;
//     border: none;
//     border-radius: 4px;
//     box-shadow: $btn-shadow;
//     margin: 0 auto;
//     margin-top: 30px;
//     cursor: pointer;
//   }
// }
